{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "vendor/bootstrap/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock style %}

{% block content %}
<div class="container login">
  <div>
    <h2>Login to Farmakami24</h2>
  </div>
  <div class="login-form">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="other">
    <a href="/register">Register</a>
    <br>
    <a href="/">Welcome</a>
    <br>
    <h4>{{ error }}</h4>
  </div>
</div>
{% endblock content %}