{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "vendor/bootstrap/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/apotek/create_apotek.css" %}">
{% endblock style %}

{% block content %}
<div class="container buat-apotek">
  <div>
    <h2>FORM CREATE APOTEK</h2>
  </div>
  <div class="buat-apotek-form">
    <form method='POST'>
      {% csrf_token %}
      <div class="form-group">
        <label for="namaApotek">Nama Apotek</label>
        <input type="text" class="form-control" id="namaApotek" name="nama_apotek">
      </div>
      <div class="form-group">
        <label for="alamatApotek">Alamat Apotek</label>
        <input type="text" class="form-control" id="alamatApotek" name="alamat_apotek">
      </div>
      <div class="form-group">
        <label for="nomorTeleponApotek">Nomor Telepon Apotek</label>
        <input type="text" class="form-control" id="nomorTeleponApotek" name="telepon">
      </div>
      <div class="form-group">
        <label for="namaPenyelenggara">Nama Penyelenggara</label>
        <input type="text" class="form-control" id="namaPenyelenggara" name="nama_penyelenggara">
      </div>
      <div class="form-group">
        <label for="noSIAPenyelenggara">No SIA Penyelenggara</label>
        <input type="text" class="form-control" id="noSIAPenyelenggara" name="no_sia">
      </div>
      <div class="form-group">
        <label for="emailPenyelenggara">Email Penyelenggara</label>
        <input type="text" class="form-control" id="emailPenyelenggara" name="email">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="other">
    <h4>{{ status }}</h4>
  </div>
</div>
{% endblock content %}