{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "vendor/bootstrap/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock style %}

{% block content %}
<div class="container login">
    <div>
        <h2>Daftar sebagai admin</h2>
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <label for="namaLengkap">Nama Lengkap</label>
                <input type="text" class="form-control" id="namaLengkap" placeholder="Nama Lengkap" name="nama_lengkap">
            </div>
            <div class="form-group">
                <label for="nomorTelepon">Nomor Telepon</label>
                <input type="text" class="form-control" id="nomorTelepon" placeholder="Nomor Telepon" name="telepon">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="other">
        <a href="/register">Register</a>
        <br>
        <a href="/">Welcome</a>
        <br>
        <h6 style="color: red;">{{ error }}</h6>
    </div>
</div>
{% endblock content %}