{% extends 'base.html' %}


{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static "vendor/bootstrap/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/profil/profil.css" %}">
{% endblock style %}

{% block content %}
<div class="container welcome">
    <div>
        <h2>Hello and Welcome!</h2>
	</div>
	
	<div class="menu">
		<a href="/apotek/create/">Buat Apotek</a>
	</div>
</div>
{% endblock content %}